<launch>

    <!-- launch realsense pointcloud node-->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="filters" value="pointcloud"/>
        <arg name='clip_distance' value='0.4'/>
    </include>

    <!-- launch rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find camera_reconstruct)/rviz/pointcloud_viewer.rviz"/>

</launch>