<launch>

    <!-- launch realsense pointcloud node-->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="filters" value="pointcloud"/>
        <arg name='clip_distance' value='0.7'/>
    </include>

    <!-- launch rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find camera_reconstruct)/rviz/pointcloud_viewer.rviz"/>

    <!-- launch generate_pc node -->
    <node name="generate_pc" pkg='camera_reconstruct' type='generate_pc' output='screen'>
        <remap from='pc' to='/camera/depth/color/points' />
    </node>

</launch>