<launch>
    <!-- <arg name="fake_node" default="n" /> -->
    <!-- <rosparam command="load" file="$(find arm_move)/config/waypoints.yaml" /> -->

    <include file="$(find sawyer_moveit_config)/launch/sawyer_moveit.launch">
      <arg name="electric_gripper" default="true"/>
    </include>



    <node name="record_waypoints" pkg="arm_motion" type="record_waypoints">
      <remap from="joint_states" to="robot/joint_states"/> 
    </node>

</launch>
