<launch>

    <include file="$(find sawyer_moveit_config)/launch/sawyer_moveit.launch">
      <arg name="electric_gripper" default="true"/>
    </include>

    <node name="record_waypoints" pkg="arm_motion" type="record_waypoints">
      <remap from="joint_states" to="robot/joint_states"/> 
    </node>

    <rosparam command="load" file="$(find arm_motion)/config/waypoints_Nov18.yaml" />

    <include file="$(find camera_reconstruct)/launch/viewer.launch"/>

    <!-- Added this to try running turtlebot node and sawyer node concurrently -->
    <!-- <env name="TURTLEBOT3_MODEL" value="burger" /> -->
<!--     
    <group ns="turtle">
        <include file="$(find arm_motion)/launch/turtlebot.launch"/>
    </group> -->

</launch>