<launch>

    <include file="$(find sawyer_moveit_config)/launch/sawyer_moveit.launch">
      <arg name="electric_gripper" default="true"/>
    </include>

    <node name="scanner_arm" pkg="arm_motion" type="scanner_arm" output="screen">
      <remap from="joint_states" to="robot/joint_states"/> 
    </node>

    <rosparam command="load" file="$(find arm_motion)/config/waypoints_side_top.yaml" />

    <include file="$(find camera_reconstruct)/launch/viewer.launch"/>

    <include file="$(find arm_motion)/launch/turtlebot.launch"/>

</launch>