<?xml version="1.0" encoding="utf-8"?>
<launch>
    <include file="$(find sawyer_gazebo)/launch/sawyer_world.launch" />
    <group ns="turtlebot3">
        <param name="tf_prefix" value="turtlebot3" />
        <arg name="model" default="burger" doc="model type [burger, waffle, waffle_pi]"/>
        <param name="robot_description" command="$(find xacro)/xacro $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />
            <node name="urdf_spawner_2" pkg="gazebo_ros" type="spawn_model"
                args="-z 1.0 -unpause -urdf -model turtlebot3_burger -param /turtlebot3/robot_description " respawn="false" output="screen">
            </node>
            <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher_2">
                <param name="publish_frequency" type="double" value="50.0" />
            </node>
            <arg name="rviz_config" default="$(find turtlebot3_gazebo)/rviz/turtlebot3_gazebo_model.rviz" />
            <!-- edit x, y, z values to spawn Turtlebot in correct location relative to Sawyer -->
            <node pkg="tf" type="static_transform_publisher" name="link2_broadcaster" args="1 1 1 0 0 0 1 /turtlebot3/robot_description world 100" />
    </group>
</launch>
